<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="esi.uclm.com.multisensorsui" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="esi.uclm.com.multisensorsui.mainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="esi.uclm.com.multisensorsui.AcercaDe"
            android:label="Acerca De ..." >
        </activity>
        <activity
            android:name="esi.uclm.com.multisensorsui.ListaAcciones"
            android:label="Lista de acciones" >
        </activity>
        <activity
            android:name="esi.uclm.com.multisensorsui.EditarAccion"
            android:label="Editar Acción" >
        </activity>
        <activity
            android:name="esi.uclm.com.multisensorsui.VistaAccion"
            android:label="Accion" >
        </activity>

        <service
            android:name="esi.uclm.com.multisensorsui.MyFirstService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
